<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    
    <div id="app">
        <p>{{ title }} - {{ author }} - {{ age }}</p>

        <button v-on:click="age++">Increase Age</button>
        <button v-on:click="age--">Decrease Age</button>

        <div @click="changeTitle('Oathbringer')">Change Book</div>

        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else="!showBooks">Show Books</span>
        </button>

        <!-- This Uses just CSS, Display: block; -->
        <div v-show="showBooks">
            currently showing Books
        </div>
    </div>

    

    <script src="./app.js"></script>
</body>
</html>